<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>HUS.？.BOX</title>
      <link rel="stylesheet" href="bosyu.css">
    </head>
    
    <body>
      <div class="header">
       <div class="header-logo">
          <img src="HoPs_logo.png" alt="LOGO" height="40px">
      　</div>
        <div class="header-list">
            <li class="beru">🔔</li>
          </ul>
        </div>
      </div>
    <div class="kuhaku"></div>
    <div class="main">
      <div class="contents">
        <div class="hatena" >H<font color="orange">U</font>S<font color="orange">.？.</font>B<font color="orange">O</font>X</div>
          <div class="contents-left">
            <p><a href="kategori.html" class="btn bgbottom"><span>回答募集中の質問をカテゴリから探す</span></a></p>
          </div>
          <div class="contents-right">
            <p><a href="kategori.html" class="btn bgbottom"><span>最新の回答募集中の質問</span></a></p>
          </div>
          <div class="modoru">
            <p><a href="index.html" class="btn bgbottom"><span>質問者様はこちら</span></a></p>
          </div>
      </div>    
  </div>
    </body>
</html>