
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
  /* 方眼紙模様に必須のスタイル */
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)),
                    linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
  background-size: 15px 15px;
  background-repeat: repeat;
  background-position: center center;

  /* 以下任意のスタイル */
  padding: 20px;
}

h2{
  color:rgb(44, 166, 224);
}

p{
font-size: 30px;
font-family:'arial black';
  color:rgb(44, 166, 224);
}

html,body{
  height:auto;
  width:auto;
}




.header-list li{
  float:right;
  /* padding:20px; */
  list-style:none;
  position: relative;
}

.header {
  top:0px;
  left:0px;
  right:0px;
  background-color: #fff;
  height: 70px;
  padding: 10px 10px 20px 38px;
  position:fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; 
  margin-bottom: 10px; 
  border:2px solid #79747477;
  padding-bottom:10px;
  z-index: 99;/*一番上*/
}

.header-logo{
  display: block;
  padding-top: 15px;
}

.hatena{
  font-size: 70px;
  text-align: center;
  border-right: 0px;
  color:rgb(44, 166, 224);
  font-weight: bold;
  color:rgb(44, 166, 224);
}

#submit{
  height: 100px;
  width: 100%;
  color:#F5EFE7;
  font-size:1.5em;
  background-color: rgb(44, 166, 224);
  position: absolute;
  left: 0;
  right: 0;
  top: 250px;
  margin: auto;
  box-shadow: 7px 7px 0px black;
}

 /*ベルのアイコン*/
.beru{
  font-size: 40px;
  margin-top: 0px 30px;
  margin-right: 20px;
  
}

.contents{
  margin-top: 100px;
}

.contents li{
  list-style: none;
  display: inline;
}


/*カテゴリから探す*//*Q&A一覧*/
.contents-left{
  width: 100%;
  font-size: 30px;
font-family:"fantasy";
  
}
.contents-right{
  width: 100%;
  font-size: 30px;
  font-family:"fantasy";
}


.bosyu h2{
  font-size: 30px;
}
.box {
  padding:10px;
  width: auto;
  }
  .box p {
  margin:0;
  padding:0;
  }
  .btn:in{
    position:relative;
    top:100px;
    box-shadow:none;
  }

/*== ボタン設定 */
.btn{
/*アニメーションの起点とするためrelativeを指定*/
position: relative;
overflow: hidden;
/*ボタンの形状*/
text-decoration: none;
display: inline-block;
border: 2px solid #79747477;/* ボーダーの色と太さ */
padding: 10px 30px;
text-align: center;
outline: none;
/*アニメーションの指定*/   
transition: ease .2s;
width: 100%;
box-sizing: border-box;
background-color: rgb(44, 166, 224);
}

/*ボタン内spanの形状*/
.btn span {
position: relative;
z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
color:#ffffff;
width: 100%;
}

.btn:hover span{
color:rgb(44, 166, 224);
}
/*== ボタン設定 */
.btn1{
  /*アニメーションの起点とするためrelativeを指定*/
  position: relative;
  overflow: hidden;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  border: 10px solid #687a7a77;/* ボーダーの色と太さ */
  padding: 10px 30px;
  text-align: center;
  outline: none;
  /*アニメーションの指定*/   
  transition: ease .2s;
  width: 100%;
  box-sizing: border-box;
  background-color: orange;
  }
/*ボタン内spanの形状*/
.btn1 span {
  position: relative;
  z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
  color:#ffffff;
  width: 100%;
  }
  
  .btn1:hover span{
  color:#ffffff;
  }
  
/*== 背景が流れる（下から上） */
.bgbottom:before {
content: '';
/*絶対配置で位置を指定*/
position: absolute;
bottom:0;
left: 0;
z-index: 2;
/*色や形状*/
background: #ffffff;/*背景色*/
width: 100%;
height: 0;
}

/*hoverした際の形状*/
.bgbottom:hover:before{
height: 100%;  
background-color:#ffffff;
color:rgb(44, 166, 224);
width: 100%;
}

  /*== 背景が流れる（下から上） */
.bgbottom1:before {
  content: '';
  /*絶対配置で位置を指定*/
  position: absolute;
  bottom:0;
  left: 0;
  z-index: 2;
  /*色や形状*/
  background: #ffffff;/*背景色*/
  width: 100%;
  height: 0;
  }
  
  /*hoverした際の形状*/
  .bgbottom1:hover:before{
  height: 100%;  
  background-color:rgb(246, 246, 123);
  color:rgb(44, 166, 224);
  width: 100%;
  }
.btn{
vertical-align:middle; 
width: 100%;
padding: 10px ;
text-align: center;
margin: 0 0 0 0;
}

@media (max-width: 800px){
  .header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    padding:10px;
    z-index: 99;
  }

  .hatena{
    top: 0;
    left: 0;
    right: 0;
    font-size: 70px;
    text-align: center;
    color:rgb(44, 166, 224);
  }
}
  .modoru{
    width: 100%;
    font-size: 30px;
  font-family:"fantasy";
  }



  
  
