<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>HUSBOX</title>
    <link rel="stylesheet" href="/static/css/answer.css">
    <meta name="description" content="大学質問サイト">
</head>

<body>
    <div class="header">
        <div class="header-logo">
            <img src="/static/image/HoPs_logo.png" alt="LOGO" height="40px">
        </div>
        <div class="header-list">
            <ul>
                <li><img src="a" alt="NOTICE"></li>
                <li>
                    <div class="qanda_itirann">
                        <a href="question.html">Q&A一覧</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="hatena">
            H<span class="change">U</span>S<span class="change">.？.</span>B<span class="change">O</span>X
        </div>

        <div class="answer">
            <p>回答</p>
        </div>

        <div class="question">
            <p class="shitumon">質問内容</p>
            <p class="naiyou">こんにちは</p>
        </div>

        <div class="kaito">
            <p>回答内容</p>
            <textarea name="message">メッセージを入力</textarea>
        </div>

        <div class="touko">
            <button type="button">回答</button>

        </div>
    </div>
    </body>
    </html>