<!DOCTYPE html>
<html lang="ja">
    
<head>
    <meta charset="UTF-8">
    <title>HUSBOX</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <meta name="description" content="大学質問サイト">
</head>

<body>
    <div class="header">
        <div class="header-logo">
            <img src="/static/image/HoPs_logo.png" alt="LOGO" height="40px">
        </div>
        <div class="header-list">
            <ul>
                <li><img src="a" alt="NOTICE"></li>
                <li>
                <div class="qanda_itirann">
                <a href="QandA.html">Q&A一覧</a>
                </div></li>
            </ul>
        </div>  
    </div>

    <div class="main">
        <div class="hatena" >            H<span class="change">U</span>S<span class="change">.？.</span>B<span class="change">O</span>X
        </div>
        <div class="contents-item">
            <a href="question.html" class="btn-right-radius"> 質問する </a>
        </div>
        <div class="contents-item2">
            <a href="answer.html" class="btn-left-radius"> 回答する </a>
        </div>
        <div class="contents-item3">
            <p>Q＆A一覧<textarea name="message"></textarea></p>
            <div class="contents-item3-1">
                <a href="QandA.html">もっと見る</a>
                </div>
        </div>

    </div>


</body>

</html>