<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>カテゴリから探す</title>
    <link rel="stylesheet" href="kategorino.css">
    </head>
    <body>
    <div class="header">
        <h1>カテゴリから探す</h1>
        <div class="header-list"></div>
    </div>
    <p>質問のカテゴリを選択（複数選択可）</p>
    
    <form action="#" method="post"> 
        <input type="checkbox" name="" value="">学校生活<br>
        <input type="checkbox" name="" value="">授業<br>
        <input type="checkbox" name="" value="">アルバイト<br>
        <input type="checkbox" name="" value="">サークル活動<br>
        <input type="checkbox" name="" value="">夢プロジェクト<br>
        <input type="checkbox" name="" value="">入試<br>
        <input type="checkbox" name="" value="">勉強<br>
        <input type="checkbox" name="" value="">ゼミ<br>
        <input type="checkbox" name="" value="">学科選択<br>
        <input type="checkbox" name="" value="">その他<br>
        <input type="checkbox" name="" value="">現在回答募集中の質問<br>
        <br>
    </form>
   <a href="index.html" class="btn bgbottom" <span>探す</span></a>
   <br><br>
   <a href='index.html' class="btn bgbottom" <span>戻る</span>

    </body>
</html>