<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Q＆A一覧</title>
    <link rel="stylesheet" href="kategorino.css">
    </head>
    <body>
    <div class="header">
        <h1>Q＆A一覧</h1>
        <div class="header-list"></div>
    </div>
<div class="itiran">
    <p>一覧</p>
</div>

<div class="bangou">
    <p><input type="submit" onclick="" value=">>"></p>
</div>

   <p><input type="submit" onclick="location.href='index.html'" class="btn bgbottom" value="戻る"></p>
        
    </body>
</html>