<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>質問入力フォーム</title>
    <link rel="stylesheet" href="sitsumon.css">
    </head>
    <body>
    <div class="header">
        <h1>質問してみよう</h1>
        <div class="header-list"></div>
    </div>
    <p>質問のカテゴリを選択（複数選択可）</p>

    <form action="#" method="post">
        <div class="kategori">
        <input type="checkbox" name="" value="">学校生活<br>
        <input type="checkbox" name="" value="">授業<br>
        <input type="checkbox" name="" value="">アルバイト<br>
        <input type="checkbox" name="" value="">サークル活動<br>
        <input type="checkbox" name="" value="">夢プロジェクト<br>
        <input type="checkbox" name="" value="">入試<br>
        <input type="checkbox" name="" value="">勉強<br>
        <input type="checkbox" name="" value="">ゼミ<br>
        <input type="checkbox" name="" value="">学科選択<br>
        <input type="checkbox" name="" value="">その他<br>
        <br>
        </div>
    </form>
    <div class="inputs">
      <textarea name="comment" cols="30" rows="5" class="input_form" placeholder="質問を入力"></textarea>
      <i class="fa fa-edit fa-lg fa-fw" aria-hidden="true"></i>
   </div>

   <h2><input type="submit" onclick="location.href=''"   class="btn bgbottom" value="質問を送信"></h2>
   

    </div>

   <h3><input type="submit" onclick="location.href='index.html'"  class="btn bgbottom" value="戻る"></h3>



    
    
        
    </body>
</html>